<h3>
Title: <%= @task.title %>
</h3>
<p>
Desc: <%= @task.description %>
</p>

<p>
Status:
<% if @task.completed %>
  Task is completed
<% else %>
    Task is not completed
<% end %>
</p>

<p>
Created at : <%= @task.created_at %>
</p>

<% if @task.created_at !=  @task.updated_at %>
  <h4>updated: <%= @task.updated_at %></h4>
<% end %>

<% unless @task.task_file.blank? %>
  <p><%= link_to "Attachment", @task.task_file.to_s %></p>
<% end %>

<%= link_to "Back to project", project_path(@task.project_id) %>
<br>
<%= link_to "Edit", edit_project_task_path(@task.project_id, @task.id) %>
<br>
<%= link_to "Delete" %>
