<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Destroy this project", @project, method: :delete %>
</div>

<h2>Tasks for project</h2>


<%= link_to "Add new task", new_project_task_path(project_id: @project.id) %>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>Completed</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.completed %></td>
        <td><%= link_to "show", project_task_path(@project.id, task.id ) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
