<!DOCTYPE html>
<html>
  <head>
    <title>Taski</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div>
      <%= image_tag("GCR.jpeg", width:'50px') %>
      </div>
      <div>
        <%= render "shared/nav" %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
